<p id="notice"><%= notice %></p>

<h3>Show Teams Manager</h3>

     <h2>   <%= @team.name %></h2>

<p>
  <b>Manager Name:</b>
  <%= @team.manager.name %>
</p>

<p>
  <b>Address:</b>
  <%= @team.manager.address %>
</p>

<p>
  <b>Contract:</b>
  <%= @team.manager.contract %>
</p>

<p>
  <b>Nationality:</b>
  <%= @team.manager.nationality %>
</p>

<p>
  <b>Phone:</b>
  <%= @team.manager.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @team.manager.email %>
</p>




