<footer class="footer" >
  <small>
<nav class="navbar navbar-default navbar-fixed-bottom"> 

    <li class= "nav navbar-nav pull-left">
	
	 <%= link_to(image_tag("pic.png", :size => "50x40") + "Gallery", pics_path) %>
	</li>
    <ul class= "nav navbar-nav pull-right">
	
	

      
  <div class="btn-group dropup">  
  <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"> Links <span class="caret"></span></button>
  <ul class="dropdown-menu">
  <li><%= link_to "News", 'http://www.skysports.com/rugbyunion' %></li>
  <li><%= link_to "Tickets", 'http://www.ticketmaster.ie/browse/rugby-union-catid-225/sport-rid-10004' %></li>
  <li><%= link_to "Irish Rugby", 'http://www.irishrugby.ie/home.php' %></li>
	 
  </ul>
</div>
	  
	  
	  <li><%= link_to "Clubs", clubs_path%></li>
      <li><%= link_to "Competitions", competitions_path%></li>
	  <li><%= link_to "Website Shop", 'http://localhost:3000/shop/index' %></li>
	  
	<%= image_tag("rugby.png", :size => "60x65") %>
	  
    </ul>
  </nav>
  </small>
</footer>