<table id="dynamictable" class="table table-bordered table-condensed">

<h3>Show Competition Fixtures </h3>

        <%= @competition.name %>
 
 
<% if !@fixtures.empty? %>
  <tr>
	<th>Home Team</th>
	<th>Away Team</th>
	<th>Date and Time</th>
	<th>Input Result</th>
   </tr>
   
   
 <% @fixtures.each do |f| %>
  <tr align="left">
	<td>
	<li><a title="Home Team Details  ->  HomeTeam Name:  <%= f.hometeam.name %>,  Level: <%= f.hometeam.level %>,   Manager: <%= f.hometeam.manager.name %> ">
	<%= f.hometeam.name %></a></li>
	
	
	<td><li><a title="Away Team Details  ->  AwayTeam Name:  <%= f.awayteam.name %>,  Level: <%= f.awayteam.level %>,   Manager: <%= f.awayteam.manager.name %> ">
	<%= f.awayteam.name %></a></li>
	<td><%= f.datetime.strftime "%m %b %Y, %l.%M %p " %></td>
    <td><%= link_to 'Update', edit_fixture_path(f), class: "btn btn-default" %></td>
    </tr>
  <% end %>
  <% else %>
	</br></br>
	<p>There are no fixtures for this competition</p>
  <% end %>
  
  

</table>

<%= link_to 'Show Comp Results', showcompresults_path(competition_id: @competition), class: "btn btn-small btn-primary" %> 


